.jv-header {
    padding: 12px;
}

.MuiButton-outlined {
    margin: 10px !important;
}

.MuiChip-root {
    margin-right: 10px !important;
}

.right-section {
    text-align: right;
    float: right;
}

.force-hidden {
    display: none !important;
}